@model Registration

<h2>Реєстрація успішна</h2>

<p>Ім'я: <strong>@Model.Name</strong></p>
<p>Email: <strong>@Model.Email</strong></p>
<p>Дата: <strong>@Model.Date</strong></p>
<p>Курс: <strong>@Model.Course</strong></p>
